<div role="heading">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Emerging Technology</span>

    <span class="example-spacer"></span>

    <button mat-button (click)="patientViewClick()" >Patient View</button>
    <button mat-button (click)="patientClick()" >Patients</button>
    <button mat-button (click)="loginClick()" >Login</button>
    <button mat-button>Logout</button>
    <button mat-button (click)="registerClick()" >Register</button>    
  </mat-toolbar-row>
</mat-toolbar>
</div>