<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-h2">Login</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="myForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="email" formControlName="email" required>
              <mat-error *ngIf="myForm.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" formControlName="password" required>
              <mat-error *ngIf="myForm.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-radio-group>
              <mat-radio-button value="nurse">Nurse</mat-radio-button>
              <mat-radio-button value="patient">Patient</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="accent">Login</button>
  </mat-card-actions>
</mat-card>