
<div class="button-container">
  <button (click)="onBack()" style="max-width: 120px" mat-raised-button>Back</button>
</div>

<div class="example-container mat-elevation-z8">
  
  <div style="margin:20px">
    <h2 class="mat-h2">{{currPatient}}</h2>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- temperature Column -->
    <ng-container matColumnDef="temperature">
      <mat-header-cell *matHeaderCellDef> Temperature </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bodyTemperature}} </mat-cell>
    </ng-container>

    <!-- Heart Rate Column -->
    <ng-container matColumnDef="heartRate">
      <mat-header-cell *matHeaderCellDef> Heart Rate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.heartRate}} </mat-cell>
    </ng-container>

    <!-- blood pressure Column -->
    <ng-container matColumnDef="bloodPressure">
      <mat-header-cell *matHeaderCellDef> Blood Pressure </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bloodPressure}} </mat-cell>
    </ng-container>

    <!-- respiratory rate Column -->
    <ng-container matColumnDef="respiratoryRate">
      <mat-header-cell *matHeaderCellDef> Respiratory Rate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.respiratoryRate}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>