
<div class="example-container">


    <mat-card>


      <div style="max-width: 180px; margin: 0 auto">

        <mat-card-header>
            <mat-card-title>
              <h2 class="mat-h2">Welcome, patient!</h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
              <button (click)="alerts()" mat-raised-button>Emergency Alerts</button><br/><br/>
              <button (click)="motivations()" mat-raised-button>Motivatations</button><br/><br/>
              <button (click)="dailyinfo()" mat-raised-button>Enter Daily Information</button>
        </mat-card-content>

      </div>

    </mat-card>
  
  
  

</div>
